[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HCV"]
	path = HCV
	url = https://github.com/h0h1/hcv
	shallow = true
	registered = true
